[features]
seeds = false
skip-lint = false

[programs.localnet]
reflex_pvp_escrow = "Ref1exEscrow11111111111111111111111111111111"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "anchor test"
